@use "../../styles/abstracts" as v;

.header {
	height: 3rem;
	width: 100%;
	background-color: v.$white;
	padding: 0.3125rem 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;

	&__logo {
		height: 100%;
		width: 12.5rem;
		object-fit: cover;
	}

	&__signIn {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		color: v.$blue-dark;
		font-weight: v.$fw-bold;

        a {
            text-decoration: none;
            color: inherit;
        }
	}
}
